.nav-border {
  border-bottom: 1px solid #d7d7d7;
}

#content {
  height: calc(100% - 64px - 56px); /* Height minus header and footer */
  overflow-y: scroll;
  scrollbar-width: none;
}
#content::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

#menu,
#page-content {
  overflow-y: auto;
}
#menu {
  border-right: 1px solid #d7d7d7;
}
#menu > ul li + li {
  margin-top: 2px;
}

#footer-content {
  position: relative;
}
#footer-version,
#footer-year {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
}
#footer-version {
  z-index: 1;
}
#footer-year {
  z-index: 2;
}

.modal-error {
  background-color: #ff9191;
}

.axe-flash-msg-success {
  color: #1a7c23;
}

.axe-flash-msg-wrong {
  color: #b52d15;
}