.admin-content-btn-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-demo-exam-button {
    color: black;
    background-color: #B4B7FA;
    transition: background-color 0.15s ease-in-out;
}
.add-demo-exam-button:hover,
.add-demo-exam-button:focus-visible {
    background-color: #F6E6AE;
}

.send-form-button {
    color: black;
    background-color: #B4B7FA;
    transition: background-color 0.15s ease-in-out;
}
.send-form-button:hover,
.send-form-button:focus-visible {
    background-color: #F6E6AE;
}

.table-controller {
    background-color: #B4B7FA;
    width: 45px;
    height: 45px;
    padding-left: 10px;
}
.table-controller:hover,
.table-controller:focus-visible {
    background-color: #F6E6AE;
}

.table th,
.table td {
    background-color: #B4D8FA;
    font-family: 14px;
}

.table tr:hover td {
    background-image: linear-gradient(to right, #B4D8FA, #C8C8F4 15%, #C8C8F4 50%, #B4D8FA);
    background-size: calc(100% * 4) 100%;
}

.table tr:hover td:first-child {
    background-position: 0 0;
}

.table tr:hover td:nth-child(2) {
    background-position: -100% 0;
}

.table tr:hover td:nth-child(3) {
    background-position: -200% 0;
}

.table tr:hover td:nth-child(4) {
    background-position: -300% 0;
}
