.student-info {
    display: block;
}
#content {
    background: #B4D8FA;
}

#student-data {
    margin-top: 30px;
}

.student-profile-title {
    display: flex;
    align-items: center;
}

#student-image-btn {
    position: relative;
}

#btn-update-img {
    position: absolute;
    top: 0;
    left: 0;
}

.profile-button {
    color: black;
    background-color: #B4B7FA;
}
.profile-button:hover {
    background-color: #F6E6AE;
}
.profile-button:focus-visible {
    background-color: #F6E6AE;
}
.profile-button-mini {
    width: 50px;
    height: 50px;
}

#hr-under-info,
#hr-under-contact {
    margin-top: 0px;
}

#btn-update-primary,
#btn-update-contact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-element {
    margin-bottom: 5px;
}

.parent-table-title {
    margin-top: 50px;
}

.table-controller {
    margin-left: 5px;
    background-color: #B4B7FA;
    width: 50px;
    height: 50px;
    padding-left: 13px;
}
.table-controller:hover {
    background-color: #F6E6AE;
}
.table-controller:focus-visible {
    background-color: #F6E6AE;
}

.table {
    margin-top: 30px;
}

.table th,
.table td{
    background-color: #B4D8FA;
}

.table tr:hover td {
    background-image: linear-gradient(to right, #B4D8FA, #B4B7FA 15%, #B4B7FA 70%, #B4D8FA);
    background-size: calc(100% * 7) 100%;
}

.table tr:hover td:first-child {
    background-position: 0 0;
}

.table tr:hover td:nth-child(2) {
    background-position: -100% 0;
}

.table tr:hover td:nth-child(3) {
    background-position: -200% 0;
}

.table tr:hover td:nth-child(4) {
    background-position: -300% 0;
}

.table tr:hover td:nth-child(5) {
    background-position: -400% 0;
}

.table tr:hover td:nth-child(6) {
    background-position: -500% 0;
}

.table tr:hover td:nth-child(7) {
    background-position: -600% 0;
}

#parent-add-clean {
    margin-right: 15px;
    color: #007BFF;
}