.student-menu{
    position: relative;
	height: 100%;
	border-right: 3px solid linear-gradient(to top, #F6E6AE, #B4B7FA 110%);
}
.student-menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background: linear-gradient(to top, #F6E6AE, #B4B7FA 110%);
    pointer-events: none;
}
.list_menu{
	margin-top: 60px;
}
.list_menu li{
	margin-top: 10px;
}
.list_menu a{
    text-decoration: none;
    font-family: Georgia;
	font-size: 20px;
	color: #096F67;
	border-left: 2px solid #035E57;
	transition: 0.3s ease;
	padding-left: 5px;
}
.list_menu a:hover{
	border-left: 4px solid #F6E6AE;
	border-radius: 3px;
	transition: 0.3s ease;
	padding-left: 10px;
}
