.admin-content-btn-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content-field {
    max-height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -15px;
}

.select-settings {
    width: 50%
}
.label-settings {
    width: 20%;
}
.input-field {
    width: 105%;
}
.label-input-field {
    font-size: 22px;
    font-weight: 500;
    color: #096F67;
    width: 10%;
}
.text-input-field {
    width: 102%
}
.answer-input-field {
    width: 25%
}
.filename-input-field {
    width: 100%;
}
.upload-image-field,
.upload-file-field {
    width: 85%;
    margin-right: 230px;
}
#card-practice-file-download {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.image-preview {
    width: 100%;
    height: auto;
    overflow-y: auto;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
.select-position-label {
    width: 40%
}
.select-position {
    width: 25%
}
.label-position {
    width: 50%;
}
.send-field {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#flash-msg-field {
    align-items: center;
}
#card-flash-msg {
    font-size: 28px;
}

.custom-sand-button {
    width: 170px;
    font-size: 24px;
    font-weight: 400;
    padding: 5px 10px 8px 10px;
    color: black;
    background-color: #B4B7FA;
    outline: none;
    border: none;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    user-select: none;
    transition: background-color 0.15s ease-in-out;
}
.custom-sand-button:hover,
.custom-sand-button:focus-visible {
    background-color: #F6E6AE;
}

.card-type-button {
    width: 150px;
    font-size: 20px;
    font-weight: 500;
}
.active-type-button {
    background-color: #F6E6AE;
}
.control-buttons {
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}
.control-buttons {
    justify-content: flex-end;
    margin-top: 10px;
    margin-right: 30px;
}
.send-card-data-button {
    justify-content: flex-end;
    margin-right: 30px;
    width: 300px;
    height: 70px;
    font-size: 26px;
    font-weight: 400;
}
.control-button-field {
    vertical-align: middle;
}


#card-add-theory-title2 {
    width: 80%;
}
.input-row {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.input-label {
    white-space: nowrap;
}
.input-textarea {
    flex-grow: 1;
}
.group-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-field {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    color: #096F67;
    font-size: 40px;
    padding: 6px 12px;
}
#card-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #096F67;
    font-size: 40px;
    padding: 6px 12px;
}
#card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 26px;
    padding: 6px 12px;
}

#theory-image {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 130px - 100px);
    overflow-y: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
#theory-descr,
#practice-descr {
    max-height: calc(100vh - 130px - 100px);
    overflow-y: auto;
    padding: 25px 25px 30px 5px;
}
#practice-descr-field {

    white-space: pre-wrap;
}

#practice-download-file-field {
    margin-top: 10px;
}
.download-button {
    margin-left: 10px;
    display: inline-block;
    padding: 2px 8px;
    width: 45px;
    height: 45px;
    font-weight: 400;
    background-color: #B4B7FA;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
    border: none;
    outline: none;
    border-radius: 10px;
    outline: none;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    transition: 0.2s ease;
}
.file-download-enable {
    color: #2E8B57;
}
.file-download-enable:hover {
    background-color: #F6E6AE;
    transform: scale(1.15);
}
.file-download-disable {
    color: #36454F;
}
#practice-download-file-name,
#card-practice-download-file-name {
    color: #2E8B57;
    font-weight: bold;
    display: inline-block;
}
#card-practice-file-download-field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#card-practice-download-row {
    display: flex;
    align-items: center;
}

#practice-image {
    width: 100%;
    height: auto;
    max-height: calc(100vh - 130px - 100px);
    overflow-y: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
}
#practice-answer-field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;
    margin-bottom: 30px;
}
.answer-input {
    display: block;
    width: 300px;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #F6E6AE;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.answer-input:hover,
.answer-input:focus-visible {
    border-color: #F6E6AE;
    outline: 0;
    box-shadow: 0 0 0 0.2rem #F6E6AE;
}
.input-answer-wrong {
    background-color: #E68B8F;
    border-color: #F6E6AE;
    box-shadow: 0 0 0 0.2rem #F6E6AE;
}
.input-answer-success {
    background-color: #72E179;
    border-color: #F6E6AE;
    box-shadow: 0 0 0 0.2rem #F6E6AE;
}

.card-content-button {
    width: 250px;
    font-size: 20px;
    display: inline-block;
    padding: 2px 8px;
    margin-left: 15px;
    color: black;
    font-weight: 400;
    background-color: #B4B7FA;
    border: none;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    cursor: default;
    white-space: nowrap;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.card-content-button:hover,
.card-content-button:focus-visible {
    background-color: #F6E6AE;
}
#practice-tip-button {
    position: absolute;
    right: 30px;
}
#practice-tip-image {
    width: 90%;
    height: auto;
    border: 3px solid black;
    border-radius: 10px;
}
#practice-tip-descr {
    margin-top: 30px;
    margin-bottom: 30px;
    white-space: pre-wrap;
}

#card-update-theory-image-preview {
    width: 300px;
    height: auto;
    max-height: calc(100vh - 130px - 100px);
    overflow-y: auto;
    margin-top: 20px;
    margin-right: 20px;
    border: 3px solid black;
    border-radius: 10px;
}

.answer-tooltip {
    background-color: #B4B7FA;
    color: black;
    padding: 5px 10px;
    border: 3px solid #F6E6AE;
    border-radius: 10px;
    z-index: 1000;
    white-space: nowrap;
}