.tutor-info {
    display: block;
}
#content {
    background: #B4D8FA;
}

#tutor-data {
    margin-top: 30px;
}

.tutor-profile-title {
    display: flex;
    align-items: center;
}

#tutor-image-btn {
    position: relative;
}

#btn-update-img {
    position: absolute;
    top: 0;
    left: 0;
}

.profile-button {
    color: black;
    background-color: #B4B7FA;
}
.profile-button:hover {
    background-color: #F6E6AE;
}
.profile-button:focus-visible {
    background-color: #F6E6AE;
}
.profile-button-mini {
    width: 50px;
    height: 50px;
}

#hr-under-info,
#hr-under-contact {
    margin-top: 0px;
}

#btn-update-primary,
#btn-update-contact {
    margin-top: 5px;
    margin-bottom: 5px;
}

.info-element {
    margin-bottom: 5px;
}