.admin-content-btn-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

#content {
    background: #4A918B;
}

.table th,
.table td {
    background-color: #4A918B;
    font-family: 14px;
}

.table tr:hover td {
    background-image: linear-gradient(to right, #4A918B, #14A9A5 15%, #14A9A5 50%, #4A918B);
    background-size: calc(100% * 11) 100%;
}

.table tr:hover td:first-child {
    background-position: 0 0;
}

.table tr:hover td:nth-child(2) {
    background-position: -100% 0;
}

.table tr:hover td:nth-child(3) {
    background-position: -200% 0;
}

.table tr:hover td:nth-child(4) {
    background-position: -300% 0;
}

.table tr:hover td:nth-child(5) {
    background-position: -400% 0;
}
