.admin-content-btn-add {
    margin-top: 10px;
    margin-bottom: 10px;
}

.table th,
.table td {
    background-color: #B4D8FA;
}

.table tr:hover td {
    background-image: linear-gradient(to right, #B4D8FA, #C8C8F4 15%, #C8C8F4 50%, #B4D8FA);
    background-size: calc(100% * 5) 100%;
}

.table tr:hover td:first-child {
    background-position: 0 0;
}

.table tr:hover td:nth-child(2) {
    background-position: -100% 0;
}

.table tr:hover td:nth-child(3) {
    background-position: -200% 0;
}

.table tr:hover td:nth-child(4) {
    background-position: -300% 0;
}

.table tr:hover td:nth-child(5) {
    background-position: -400% 0;
}
