{% extends "admin_base.html" %}
{% block admin_head %}
    <link rel="stylesheet" href="/static/css/admin_users.css" />
{% endblock admin_head %}
{% block admin_content %}

<div class="admin-content-btn-add">
    <button
        class="btn btn-success"
        type="button"
        title="Регистрация новых пользователей"
        data-bs-toggle="modal"
        data-bs-target="#modal-user-add"
        id="btn-add-sensor"
        onclick="clearAddUserForm()"
    >
        <i class="fa-solid fa-plus"></i>
    </button>
</div>
<table id="users-table" class="table table-hover table-info">
    <thead class="thead-dark">
        <tr>
            <th class="col-3">Логин</th>
            <th class="col-2">Роль</th>
            <th class="col-2 text-end">Действия</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% include "userFormAdd.html" %}
{% include "userFormDelete.html" %}
{% include "userFormChangePassword.html" %}
{% endblock admin_content %}
{% block admin_scripts %}
    <-- Подключение js страницы-->
    <script src="/static/js/users.js"></script>
{% endblock admin_scripts %}
