{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/admin_base.css" />
    {% block admin_head %}{% endblock admin_head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 admin-menu">
		    <div class="list_menu">
                <ul>
                    <li><a href="/admin/users">Пользователи</a></li>
                    <li><a href="/admin/tutors">Преподаватели</a></li>
                    <li><a href="/admin/students">Студенты</a></li>
                    <li><a href="/admin/themes">Уроки</a></li>
                    <li><a href="/admin/theme-card">Материал уроков</a></li>
                    <li><a href="">Демоверсии</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10" id="admin-content">
            {% block admin_content %}{% endblock admin_content %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {% block admin_scripts %}{% endblock admin_scripts %}
{% endblock %}
