<!DOCTYPE html>
<html lang="ru" style="height: 100%">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/base.css" /><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BioRhyme:wght@300&family=Nunito:wght@500&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <div class="container-fluid" id="header">
        <div class="row" id="header-row">
            <!--Logo-->
            <div class="col-1" id="header-logo">
                <img src="/static/img/logo.png" alt="logo" id="logo">
            </div>
            <!-- Main menu -->
            <div class="col-8" id="header-main-menu">
                <div class="header-menu-row">
                    <a href="/"><strong>Главная</strong></a>
                    <a href="/price-list"><strong>Услуги</strong></a>
                    <a href="/presentation"><strong>Об обучении</strong></a>
                    <a href="/reviews"><strong>Отзывы</strong></a>
                    {% if user.current_lesson_id != None %}
                        <button type="button" class="lesson-enter-button" onclick="joinToLesson({{user.current_lesson_id}})">
                            Войти на урок
                        </button>
                    {% endif %}
                </div>
            </div>
            <!--User space-->
            {% if user %}
            <div class="col-3" id="header-user">
                <div class="row">
                    <!--Username-->
                    <div class="col-9 text-end" id="header-user-name">
                        {{ user.name }}
                    </div>
                    <!--Usermenu-->
                    <div class="col-2">
                        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                            <div class="dropdown text-end" id="header-user-dropdown">
                                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{{ user.img_path }}" alt="Err" width="50" height="50" class="rounded-circle" id="user-image">
                                </a>
                                <ul class="dropdown-menu text-small">
                                    <li><h6 class="dropdown-header">{{ user.role }}</h6></li>
                                    <li><hr class="dropdown-divider"></li>
                                    {% if user.role == "Администратор" %}
                                        <li><a class="dropdown-item btn btn-primary" href="/tutor-profile" role="button">Мой профиль</a></li>
                                        <li><a class="dropdown-item btn btn-primary" href="/admin/users" role="button">Администрирование</a></li>
                                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-lesson-add" onclick="setTodayDate()">Создать урок</button></li>
                                    {% elif user.role == "Преподаватель" %}
                                        <li><a class="dropdown-item btn btn-primary" href="/tutor-profile" role="button">Мой профиль</a></li>
                                        <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modal-lesson-add" onclick="setTodayDate()">Создать урок</button></li>
                                    {% elif user.role == "Студент" %}
                                        <li><a class="dropdown-item btn btn-primary" href="/student-profile" role="button">Мой профиль</a></li>
                                        <li><a class="dropdown-item btn btn-primary" href="/schedule" role="button">Расписание</a></li>
                                    {% endif %}

                                    <li><button class="dropdown-item" href="#">Сменить пароль</button></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><button class="dropdown-item" onclick="logOut()">Выйти из профиля</button></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-3 text-end" id="user-login">
                <button
                class="btn btn-sm btn-info"
                type="button"
                title="Авторизация"
                id="btn-login"
                onclick="logIn()"
                >
                    Войти в систему
                </button>
            </div>
            {% endif %}
        </div>
    </div>


    <!-- Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <div class="container-fluid" id="footer">
        <hr>
        <div class="container-fluid" id="footer-info">
            <div class="row">
                <div class="col-4 text-start" id="footer-version">
                    version 1.0
                </div>
                <div class="col-4 text-center" id="footer-copyright">
                    AxEsseNse &copy; 2024 My tutor
                </div>
                <div class="col-4 text-end" id="footer-contact">
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#contact">
                        Контакты
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <!-- Подключение иконок -->
    <script src="https://kit.fontawesome.com/77d82ed94b.js" crossorigin="anonymous"></script>
    <!-- Подключение хз -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!-- Подключение библиотеки с датами -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.34/moment-timezone-with-data-10-year-range.min.js"></script>
    <!-- Подключение базового js -->
    <script src="/static/js/base.js"></script>
    <!-- Объявление глобальных переменных -->
    <script type="text/javascript">
        const userRole = "{{ user.role }}";
    </script>
    {% if user.role == "Преподаватель" %}
        <script src="/static/js/tutor_menu.js"></script>
        {% include "lessonFormAdd.html" %}
    {% endif %}
    {% block scripts %}{% endblock %}
  </body>
</html>
