<div
    class="modal fade custom-modal"
    tabindex="-1"
    aria-labelledby="contact-info"
    aria-hidden="true"
    id="contact-info"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content custom-modal-body">
            <!-- Header -->
            <div class="modal-header">
                <h5 class="modal-title">Контактная информация</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <!-- Контент -->
            <div class="modal-body">
                <div>
                    По вопросам проведения занятий - Вы можете связаться со мной любым ниже указанным способом
                </div>
                <div class="mt-4 mb-4 row align-items-center">
                    <div class="col-2 text-center">
                        <a href="https://t.me/it_axessense" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-telegram fa-2xl" style="color: #2AABEE"></i>
                        </a>
                    </div>
                    <div class="col-10">
                        @it_axessense
                    </div>
                </div>
                <div class="mt-4 mb-4 row align-items-center">
                    <div class="col-2 text-center">
                        <a href="https://wa.me/37495240992" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-whatsapp fa-2xl" style="color: #25D366"></i>
                        </a>
                    </div>
                    <div class="col-10">
                        +374 95-240-992
                    </div>
                </div>
                <div class="mt-4 mb-8 row align-items-center">
                    <div class="col-2 text-center">
                        <i class="fa-brands fa-discord fa-2xl" style="color: #7289da"></i>
                    </div>
                    <div class="col-10">
                        AxEsseNse
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
