{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/lesson.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-row">
        <!-- Контент урока -->
        <div class="col content-col" id="lesson-content">
            <!-- Строка состояния урока -->
            <div class="row" id="title-row">
                <div class="col-1 text-center">
                    <div class="hidden-field" id="lesson-timer">
                        53 : 00
                    </div>
                </div>
                <div class="col-10" id="card-title">
                </div>
                <div class="col-1 text-end" id="lesson-end">
                    {% if user.role == "Преподаватель" %}
                    <button
                        class="lesson-end-btn"
                        type="button"
                        title="Завершить урок"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-lesson-finish"
                        id="lesson-end-btn"
                    >
                        <i class="fa-solid fa-flag fa-xs"></i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <!-- Cлайд начала работы -->
            <div class="hidden-field" id="start-content">
                <div class="row align-items-center">
                    <div class="col-4 text-end">
                        <div class="ready-field">
                            Студент
                        </div>
                    </div>
                    <div class="col-8 text-start">
                        <div class="ready-field">
                            <button type="button" class="ready-button ready-button-waiting" id="student-ready-button">
                                Подтвердить
                            </button>
                            <button type="button" class="ready-status ready-status-not-ready" id="student-ready-status" disabled>
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 text-end">
                        <div class="ready-field">
                            Преподаватель
                        </div>
                    </div>
                    <div class="col-8 text-start">
                        <div class="ready-field">
                            <button type="button" class="ready-button ready-button-not-ready" id="tutor-ready-button" disabled>
                                Начать урок
                            </button>
                            <button type="button" class="ready-status ready-status-not-ready" id="tutor-ready-status" disabled>
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4 text-end"></div>
                    <div class="col-8 text-start">
                        <div class="ready-field">
                            <button type="button" class="start-status start-status-waiting-student" id="start-status" disabled>
                                Ожидание ученика
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Слайд с теорией -->
            <div class="hidden-field" id="theory-content">
                <div class="row">
                    <div class="col-4 text-end">
                        <img src="" id="theory-image">
                    </div>
                    <div class="col-8 text-start">
                        <div id="theory-descr"></div>
                    </div>
                </div>
            </div>
            <!-- Слайд с практикой -->
            <div class="hidden-field" id="practice-content">
                <div class="row">
                    <div class="col-4 text-end" id="practice-image-field">
                        <img src="" id="practice-image">
                    </div>
                    <div class="col-8 text-start" id="practice-descr">
                        <div id="practice">
                            <div id="practice-descr-field"></div>
                            <div class="hidden-field" id="practice-download-file-field">
                                <div id="practice-download-file-name"></div>
                                <a id="practice-download-file">
                                    <button id="practice-download-file-button"><i class="fa-solid fa-file-arrow-down fa-lg"></i></button>
                                </a>
                            </div>
                            <div id="practice-answer-field">
                                <input
                                    class="answer-input"
                                    type="text"
                                    id="practice-answer"
                                    value=""
                                    data-tooltip=""
                                    placeholder="Введите сюда ваш ответ"
                                    autocomplete="off"
                                />
                                <button type="button" class="practice-answer-button" id="practice-answer-button">
                                    Проверить
                                </button>
                                <button type="button" class="lesson-button" id="practice-tip-button">
                                    Показать решение
                                </button>
                            </div>
                            <div class="hidden-field" id="practice-tip-field">
                                <div class="text-end">
                                    <button type="button" class="hide-tip-student" id="practice-tip-student-button" title="Показать решение студенту">
                                        <i class="fa-solid fa-eye-slash"></i>
                                    </button>
                                </div>
                                <div id="practice-tip-descr"></div>
                                <div class="text-center">
                                    <img src="" id="practice-tip-image">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Меню урока -->
        <div class="col menu-col" id="lesson-menu">
            <div class="row align-items-center" id="lesson-header">
                <div class="col-3 hidden-field" id="lesson-exam">
                    <button class="exam-btn" id="lesson-exam-btn">
                    </button>
                </div>
                <div class="col-8" id="lesson-exam-task-id">
                </div>
            </div>
            <hr/>
            <div id="lesson-title">
            </div>
            <hr/>
		    <div class="menu-list">
                <ul id="lesson-list">
                </ul>
            </div>
        </div>
    </div>
</div>
{% if user.role == "Преподаватель" %}
    {% include "lessonFormFinish.html" %}
{% endif %}
<script type="text/javascript">
        const lessonId = "{{ user.current_lesson_id }}";
</script>
{% endblock content %}
{% block scripts %}
    <script src="/static/js/lesson.js"></script>
{% endblock %}
