{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/lesson.css" />
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row flex-row">
        <!-- Контент урока -->
        <div class="col content-col" id="lesson-content">
            <!-- Слайд с теорией -->
            <div id="theory-content">
                <div class="row">
                    <div id="theory-title">
                        Метод Триад
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        <img src="storage\lessons\oge\4\theory2.jpg" id="theory-image">
                    </div>
                    <div class="col-8 text-start">
                        <div id="theory-descr">
                            Задачки с триадами очень простые, самое главное научиться их решать правильно и никогда не забывать о том, что Роман красавчик
                            После смерти Каледина Новочеркасская станица вручила власть походному атаману Войска Донского генералу Назарову. Двадцать девятого января съехавшимися на Круг делегатами он был избран войсковым наказным атаманом. На Круг собралась незначительная часть делегатов, преимущественно представители низовских станиц южных округов. Круг именовался Малым. Назаров, заручившись поддержкой Круга, объявил мобилизацию от восемнадцати до пятидесяти лет, но казаки неохотно брались за оружие, несмотря на угрозы и высылку в станицы вооруженных отрядов для производства мобилизации.

В день начала работ Малого круга в Новочеркасск с Румынского фронта походным порядком пришел 6-й Донской казачий генерала Краснощекова полк, под командой войскового старшины Тацина. Полк от самого Екатеринослава шел с боями, прорывая большевистское кольцо. Его трепали под Пятихаткой, Межевой, Матвеевым-Курганом и во многих местах но, несмотря на это, он прибыл почти в полном составе, при всех офицерах.

Полку была устроена торжественная встреча. После молебствия на Соборной площади Назаров благодарил казаков за то, что сохранили дисциплину, блестящий порядок и с оружием пришли на защиту Дона.

Вскоре полк был отправлен на фронт, под станцию Сулин, а через два дня пришли в Новочеркасск черные вести: полк под влиянием большевистской агитации самовольно ушел с позиций и отказался защищать войсковое правительство.

Работа Круга шла вяло. Предрешенность исхода борьбы с большевиками чувствовалась всеми. Во время заседаний Назаров — этот энергичный, кипучий генерал — сидел, опершись на руку, закрыв ладонью лоб, словно мучительно о чем-то думая.

Рушились трухой последние надежды. Уже погромыхивало возле Тихорецкой. Слухи шли, что движется из Царицына к Ростову тамошний красный командир — хорунжий Автономов.

Утром 22 февраля [66] в Ростов вошел отряд капитана Чернова, теснимый Сиверсом, с тыла обстреливаемый казаками Гниловской станицы. Крохотная оставалась перемычка, и Корнилов, понявший, что оставаться в Ростове небезопасно, в этот же день отдал приказ об уходе на станицу Ольгинскую.

Весь день по вокзалу и офицерским патрулям постреливали с Темерника рабочие. Перед вечером из Ростова выступила густая колонна войск. Она протянулась через Дон жирной черной гадюкой, — извиваясь, поползла на Аксай. По обрыхлевшему мокрому снегу грузно шли куценькие роты. Мелькали гимназические шинели со светлыми пуговицами, зеленоватые — реалистов, но в массе преобладали — солдатско-офицерские. Взводы вели полковники и капитаны. В рядах были юнкера и офицеры, начиная с прапорщиков, кончая полковниками. За многочисленными подводами обоза шли беженцы — пожилые, солидные люди, в городских пальто, в калошах. Женщины семенили около подвод, застревая в глубоком снегу, вихляясь на высоких каблуках.

В одной из рот Корниловского полка шел есаул Евгений Листницкий. В ряду с ним — подтянутый строевой офицер, штабс-капитан Старобельский, поручик Суворовского Фанагорийского гренадерского полка Бочагов и подполковник Ловичев — престарелый, беззубый боевой офицер, весь, как матерый лисовин, покрытый рыжей проседью.

Накапливались сумерки. Морозило. От устья Дона солоноватый и влажный подпирал ветер. Листницкий привычно, не теряя ноги, месил растолченный снег, взглядывался в лица обгонявших роту людей. Сбоку от дороги прошли командир Корниловского полка капитан Неженцев и бывший командир Преображенского гвардейского полка полковник Кутепов, в распахнутой шинели и сбитой на крутой затылок фуражке.

— Господин командир! — окликнул Неженцева подполковник Ловичев, ловко перехватывая винтовку.

Кутепов повернул широколобое, бычье лицо с широко посаженными черными глазами и подстриженной лопатистой бородкой; из-за его плеча выглянул на окрик Неженцев.

— Прикажите первой роте прибавить шаг! Ведь этак и замерзнуть немудрено. Мы промочили ноги, а такой шаг на походе…

— Безобразие! — затрубил горластый и шумоватый Старобельский.

Неженцев, не отвечая, прошел мимо. Он о чем-то спорил с Кутеповым. Немного спустя опередил их Алексеев. Кучер гнал сытых вороных, с подвязанными хвостами лошадей; из-под копыт брызгали кругом снежные ошлепки. Красный от ветра Алексеев, с белыми приподнятыми усами и торчевыми, такими же белыми бровями, по самые уши натянул фуражку, сидел, бочком привалясь к спинке коляски, зябко придерживая левой рукой воротник. Офицеры улыбками проводили его знакомое всем лицо.

На взрыхленной множеством ног дороге кое-где просачивались желтые лужи. Идти было тяжело — ноги разъезжались, сырость проникала в сапоги. Листницкий, шагая, прислушивался к разговору впереди. Какой-то баритонистый офицер, в меховой куртке и простой казачьей папахе, говорил:

— Вы видели, поручик? Председатель Государственной думы Родзянко, старик — и идет пешком.

— Россия всходит на Голгофу…

Кашляя и с хрипом отхаркивая мокроту, кто-то пробовал иронизировать:

— Голгофа… с той лишь разницей, что вместо кремнистого пути — снег, притом мокрый, плюс чертовский холодище.

— Не знаете, господа, где ночевка?

— В Екатеринодаре.

— В Пруссии мы однажды такой вот поход ломали…

— Как-то нас приветит Кубань?.. Что?.. Разумеется, там иное дело.

— У вас есть курить? — спросил у Листницкого поручик Головачев.

Он снял грубую варежку, взял папиросу, поблагодарил и, высморкавшись по-солдатски, вытер пальцы о полу шинели.

— Усваиваете демократические манеры, поручик?.. — тонко улыбнулся подполковник Ловичев.

— Поневоле усвоишь. Вы-то… или дюжиной носовых платков запаслись?

Ловичев не ответил. На красносединных усах его висели зеленоватые сосульки. Он изредка шморгал носом, морщился от холода, проникавшего сквозь подбитую ветром шинель.

«Цвет России», — думал Листницкий, с острой жалостью оглядывая ряды и голову колонны, ломано изогнувшейся по дороге.

Проскакало несколько всадников, среди них — на высоком донце Корнилов. Его светлозеленый полушубок, с косыми карманами по бокам, и белая папаха долго маячили над рядами. Густым рыкающим «ура» провожали его офицерские батальоны.                        </div>
                    </div>
                </div>
            </div>
            <!-- Слайд с практикой -->
            <div id="practice-content">

            </div>
        </div>
        <!-- Меню урока -->
        <div class="col menu-col" id="lesson-menu">
            <div class="row align-items-center" id="lesson-header">
                <div class="col-3" id="lesson-exam">
                    <button class="exam-btn">
                        ЕГЭ
                    </button>
                </div>
                <div class="col-9" id="lesson-exam-item-id">
                    Задание № 4
                </div>
            </div>
            <hr/>
            <div id="lesson-title">
                Кодирование и декодирование
            </div>
            <hr/>
		    <div class="menu-list">
                <ul id="lesson-list">
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-book"></i>
                            Теория № 1
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button active-lesson-menu-item">
                            <i class="fa-solid fa-book"></i>
                            Теория № 2
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 1
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 2
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 3
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 4
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 5
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 6
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 7
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 8
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 9
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 10
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 11
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 12
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 13
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 14
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 15
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 16
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 17
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 18
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 19
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 20
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 21
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 22
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 23
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 24
                        </button>
                    </li>
                    <li>
                        <button class="my-bootstrap-button">
                            <i class="fa-solid fa-keyboard"></i>
                            Задача № 25
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    <script src="/static/js/lesson.js"></script>
{% endblock %}
