{% extends "base.html" %}
{% block content %}
<div class="not-available text-start">
    <p>Добрый день, друг. Пока я активно развиваю платформу - на главной странице буду вести чейнджлог изменений и исправлений ошибок.
</div>
<div class="not-available text-start">
    <p>04.05.2024
    <p>Исправлены названия файлов. Теперь отображается корректно. (Ранее "Пушкин А.С. Сборник.rar" отображался как "Пушкин А")
    <p>Исправлена логическая ошибка в эндпоинте изменения карточек темы.
    <p>Исправлен материал темы № 2 ЕГЭ.
    <p>Исправлен статус оплаты занятий в Истории занятий. (У ученика отображалась некорректная информация)
    <p>При вводе неправильного пароля на этапе авторизации теперь очищается поле пароля.
    <p>Исправлена адресация сохранения материала тем. (файлы темы № 2 ЕГЭ сохранялись в папку с темой № 18)
    <p>Отключено автозаполнение поля ответа на задачу.
    <p>Отключено автозаполнение полей авторизации.
    <p>Переписана логика работы таймера. (Раньше работал некорректно из-за освобождения браузером ресурсов у неактивных вкладок)
</div>
{% endblock %}
