{% extends "base.html" %}
{% block content %}
<div class="not-available text-start">
    Во-первых хочу всех поздравить с запуском приложения. Вы этого хотели - вы этого дождались.
</div>
<div class="not-available text-start">
    Выпустив приложение в продакт его развитие не ставится на паузу. Работа будет продолжена и новые фичи реализованы в обновлениях.
</div>
<div class="not-available text-start">
    В ближайшее время я создам функционал для обратной связи. В любое время, из любой части сайта вы сможете оставлять свои комментарии, пожелания и жалобы на сервис. Буду их читать, анализировать и принимать меры.
</div>
<div class="not-available text-start">
    Пока это не сделано, как на счет первого вопроса. Как вы считаете, что должно быть на главной странице сайта? Может сделать онлайн чат для всех пользователей? Или добавить сюда расписание ваших личных занятий на текущую неделю?
</div>
{% endblock %}
