{% extends "base.html" %}
{% block content %}
<div class="not-available text-start">
    <p>Добрый день, друг. Пока я активно развиваю платформу - на главной странице буду вести чейнджлог изменений и исправлений ошибок.
</div>
<div class="changelog-title">Changelog</div>
<hr class="changelog-hr">
<div class="changelog-date">5 May 2024</div>
<ul class="changelog-list">
    <li>Добавлена верстка Changelog</li>
    <li>Загружена тема № 5 ОГЭ</li>
    <li>Загружена тема № 11 ОГЭ</li>
    <li>Исправлено некорректное отображение времени проведения занятий у ученика</li>
</ul>
<hr class="changelog-hr">
<div class="changelog-date">4 May 2024</div>
<ul class="changelog-list">
    <li>Исправлены названия файлов. Теперь отображается корректно. (Ранее "Пушкин А.С. Сборник.rar" отображался как "Пушкин А")</li>
    <li>Исправлена логическая ошибка в эндпоинте изменения карточек темы.</li>
    <li>Исправлен материал темы № 2 ЕГЭ. (Спасибо ученику Михаилу за внимательность)</li>
    <li>Исправлен статус оплаты занятий в Истории занятий. (У ученика отображалась некорректная информация)</li>
    <li>При вводе неправильного пароля на этапе авторизации теперь очищается поле пароля.</li>
    <li>Исправлена адресация сохранения материала тем. (файлы темы № 2 ЕГЭ сохранялись в папку с темой № 18)</li>
    <li>Отключено автозаполнение поля ответа на задачу.</li>
    <li>Отключено автозаполнение полей авторизации.</li>
    <li>Переписана логика работы таймера. (Раньше работал некорректно из-за освобождения браузером ресурсов у неактивных вкладок)</li>
</ul>
{% endblock %}
