<div
    class="modal fade custom-modal"
    tabindex="-1"
    aria-labelledby="modal-parent-add"
    aria-hidden="true"
    id="modal-parent-add"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content custom-modal-body">
            <!-- Header окна добавления нового пользователя -->
            <div class="modal-header">
                <h5 class="modal-title">Добавление данных родителя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <!-- Форма добавления нового пользователя -->
            <div class="modal-body">
                <form class="needs-validation" id="parent-add-form" novalidate>
                    <!-- Логин пользователя -->
                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="parent-add-form-login">Пользователь</label>
                        <div class="col-8">
                            <input class="form-control disabled-input" type="text" id="parent-add-form-login" disabled />
                        </div>
                    </div>
                    <!-- Кнопка очистки формы -->
                    <div class="form-group row text-end mb-3 mt-4">
                        <i
                            class="fa-solid fa-eraser fa-lg"
                            title="Очистка формы"
                            id="parent-add-clean"
                        ></i>
                    </div>
                    <!-- Поле выбора родителя -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="parent-add-form-status">Статус</label>
                        <select class="form-select" id="parent-add-form-status">
                            <option value="Мать" selected>Мать</option>
                            <option value="Отец">Отец</option>
                            <option value="Отчим">Отчим</option>
                            <option value="Мачеха">Мачеха</option>
                            <option value="Брат">Брат</option>
                            <option value="Сестра">Сестра</option>
                        </select>
                    </div>
                    <!-- Поле ввода имени -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="parent-add-form-first-name">Имя</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="parent-add-form-first-name"
                                value=""
                                placeholder="Введите имя"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ввода фамилии -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="parent-add-form-second-name">Фамилия</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="parent-add-form-second-name"
                                value=""
                                placeholder="Введите фамилию"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ввода телефона -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="parent-add-form-phone">Телефон</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="parent-add-form-phone"
                                value=""
                                placeholder="Введите телефон"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ввода Telegram -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="parent-add-form-telegram">Telegram</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="parent-add-form-telegram"
                                value=""
                                placeholder="Введите Telegram"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ввода WhatsApp -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="parent-add-form-whatsapp">WhatsApp</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="parent-add-form-whatsapp"
                                value=""
                                placeholder="Введите WhatsApp"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ответа сервера -->
                    <hr/>

                    <div class="form-group row mt-2 mb-2 align-items-center">
                        <label class="col-3 col-form-label" for="parent-add-form-flash-msg"><strong>Feedback</strong></label>
                        <div class="col-9" id="parent-add-form-flash-msg"></div>
                    </div>

                    <hr />
                    <!-- Кнопка отправки формы -->
                    <div class="text-center">
                        <button type="button" class="btn profile-button" id="parent-add-form-button">
                            Добавить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>