{% extends "base.html" %}
{% block content %}
<div class="not-available text-start">
    На данной странице будет указан перечень возможных услуг, их стоимость и описание. Для подробной информации рекоммендуется связаться любым удобным способом из представленных в разделе "Контакты"
</div>
<div class="not-available text-start">
    В данный момент страница с услугами недоступна. Реализация данного функционала планируется в ближайших обновлениях приложения.
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/price_list.js"></script>
{% endblock %}