{% extends "base.html" %}
{% block content %}
<div class="not-available text-start">
    Страница с отзывами от пользователей приложения. В будущем каждому студенту будет добавлена возможность оставить свой отзыв.
</div>
<div class="not-available text-start">
    В данный момент эта страница недоступна. Реализация будет после вывода приложения на рынок для оценки его работы и принятия оперативных мер по устранению недоработок.
</div>
{% endblock %}
{% block scripts %}
    <script src="/static/js/reviews.js"></script>
{% endblock %}