{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/student_base.css" />
    {% block student_head %}{% endblock student_head %}
{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-2 student-menu">
		    <div class="list-menu">
                <ul style="padding-left: 15px">
                    <li><a class="list-menu-item" href="/student-profile" id="menu-list-profile">Мой профиль</a></li>
                    <li><a class="list-menu-item" href="/progress" id="menu-list-progress">Мой прогресс</a></li>
                    <li><a class="list-menu-item" href="/lesson-history" id="menu-list-lesson-history">История занятий</a></li>
<!--                    <li><a href="">Домашняя работа</a></li>-->
<!--                    <li><a href="">Пробники</a></li>-->
<!--                    <li><a href="">Результаты</a></li>-->
                </ul>
            </div>
        </div>
        <div class="col-10" id="student-content">
            {% block student_content %}{% endblock student_content %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {% block student_scripts %}{% endblock student_scripts %}
{% endblock %}
