{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/student_base.css" />
    {% block student_head %}{% endblock student_head %}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-2 student-menu">
		    <div class="list_menu">
                <ul>
                    <li><a href="/student-profile">Мой профиль</a></li>
                    <li><a href="/progress">Мой прогресс</a></li>
                    <li><a href="/lesson-history">История занятий</a></li>
                    <li><a href="">Мое обучение</a></li>
                    <li><a href="">Прогресс обучения</a></li>
                    <li><a href="">Учебный материал</a></li>
                    <li><a href="">Домашняя работа</a></li>
                    <li><a href="">Пробники</a></li>
                    <li><a href="">Результаты</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10" id="student-content">
            {% block student_content %}{% endblock student_content %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {% block student_scripts %}{% endblock student_scripts %}
{% endblock %}
