{% extends "student_base.html" %}
{% block student_head %}
    <link rel="stylesheet" href="/static/css/student_profile.css" />
{% endblock student_head %}
{% block student_content %}
<div class="container-fluid" id="student-data">
    <div class="row">
        <!-- Изображение пользователя -->
        <div class="col-3 text-end">
            <img width="300" height="300" class="rounded-circle" style="object-fit: cover; border: 3px solid #B4B7FA;" id="student-img">
        </div>
        <div class="col-1 text-start" id="student-image-btn">
            <button
                class="btn align-top align-middle profile-button"
                type="button"
                title="Изменить аватар"
                style="padding-left: 11px;"
                data-bs-toggle="modal"
                data-bs-target="#modal-student-update-img"
                id="btn-update-img"
            ><i class="fa-solid fa-image fa-lg" style="color: #228B22"></i></i>
            </button>
        </div>
        <!-- Личная информация пользователя -->
        <div class="col-4 student-info" id="student-info">
            <div class="row">
                <div class="col-10 student-profile-title">
                    Личная информация
                </div>
                <div class="col-2 text-center">
                    <button
                        class="btn profile-button"
                        type="button"
                        title="Изменить личную информацию"
                        style="padding-left: 10px;"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-student-update-primary-info"
                        id="btn-update-primary"
                    >
                        <i class="fa-solid fa-user-pen fa-lg" style="color: #228B22"></i>
                    </button>
                </div>
            </div>
            <hr id="hr-under-info"/>
            <div class="row info-element">
                <div class="col-1">
                </div>
                <div class="col-11" id="student-name">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-user fa-lg" style="color: #1E90FF"></i>
                </div>
                <div class="col-11" id="student-login">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-venus-mars fa-lg" style="color: #800080"></i>
                </div>
                <div class="col-11" id="student-gender">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-calendar-days fa-lg" style="color: #1E90FF"></i>
                </div>
                <div class="col-11" id="student-birthday" title="Дата рождения">
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-1">
                    <i class="fa-solid fa-sack-dollar fa-lg" style="color: #228B22"></i>
                </div>
                <div class="col-11" id="student-lesson-price">
                </div>
            </div>
        </div>
        <!-- Контактные данные пользователя -->
        <div class="col-4">
            <div class="row">
                <div class="col-10 student-profile-title">
                    Контактные данные
                </div>
                <div class="col-2 text-center">
                    <button
                        class="btn profile-button"
                        type="button"
                        title="Изменить контактные данные"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-student-update-contact-info"
                        id="btn-update-contact"
                    >
                        <i class="fa-solid fa-mobile-screen fa-lg" style="color: #228B22"></i>
                    </button>
                </div>
            </div>
            <hr id="hr-under-contact"/>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-discord fa-lg" style="color: #7289da"></i>
                </div>
                <div class="col-11" id="student-discord">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-phone fa-lg" style="color: green"></i>
                </div>
                <div class="col-11" id="student-phone">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-telegram fa-xl" style="color: #2AABEE"></i>
                </div>
                <div class="col-11" id="student-telegram">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-whatsapp fa-xl" style="color: #25D366"></i>
                </div>
                <div class="col-11" id="student-whatsapp">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid parent-table-title">
    <div class="row">
        <!-- Строка заголовка таблицы родителей -->
        <div class="col-2 text-start">
            <h3>Родители</h3>
            <hr/>
        </div>
        <div class="col-10 text-end">
            <button
                class="btn profile-button"
                type="button"
                title="Добавить родителя"
                data-bs-toggle="modal"
                data-bs-target="#modal-parent-add"
                id="btn-add-parent"
                style="width: 150px;"
            >
                <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                Добавить
            </button>
        </div>
    </div>
</div>

<table id="parents-table" class="table table-info">
    <thead class="thead-dark">
        <tr>
            <th class="col-1 text-center"></th>
            <th class="col-2 text-start">Имя</th>
            <th class="col-2 text-start">Фамилия</th>
            <th class="col-1 text-start">Телефон</th>
            <th class="col-2 text-start">Telegram</th>
            <th class="col-2 text-start">Whatsapp</th>
            <th class="col-2 text-center">Действия</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
{% include "studentFormUpdatePrimaryInfo.html" %}
{% include "studentFormUpdateContactInfo.html" %}
{% include "studentFormUpdateImage.html" %}
{% include "parentFormAdd.html" %}
{% include "parentFormUpdate.html" %}
{% include "parentFormDelete.html" %}
{% endblock student_content %}
{% block student_scripts %}
    <!-- Подключение js страницы-->
    <script src="/static/js/student_profile.js"></script>
{% endblock student_scripts %}
