{% extends "admin_base.html" %}
{% block admin_head %}
    <link rel="stylesheet" href="/static/css/theme_card.css" />
{% endblock admin_head %}
{% block admin_content %}
<div id="content-field">
    <!-- Выбор профиля -->
    <div class="input-group mt-2 mb-2 select-settings">
        <label class="input-group-text label-settings" for="theme-card-profile" id="theme-card-exam-label">Профиль</label>
        <select class="form-select" id="theme-card-profile">
            <option value="" hidden disabled selected>Выберите профиль</option>
            <option value="2">ОГЭ</option>
            <option value="1">ЕГЭ</option>
            <option value="3">Программирование</option>
        </select>
    </div>
    <!-- Выбор темы профиля -->
    <div class="hidden-field select-settings" id="theme-select">
        <div class="input-group mt-2 mb-2">
            <label class="input-group-text label-settings" for="theme-card-theme" id="theme-card-theme-label">Тема</label>
            <select class="form-select" id="theme-card-theme">
            </select>
        </div>
    </div>
    <!-- Выбор действия с карточками -->
    <div class="hidden-field select-settings" id="action-select">
        <div class="input-group mt-2 mb-2">
            <label class="input-group-text label-settings" for="theme-card-action" id="theme-card-action-label">Действие</label>
            <select class="form-select" id="theme-card-action">
            </select>
        </div>
    </div>
    <!-- Форма выбора изменяемой карточки -->
    <div class="hidden-field select-settings" id="update-content">
        <div class="input-group mt-2 mb-2">
            <label class="input-group-text label-settings" for="theme-card-update" id="theme-card-update-label">Карточка</label>
            <select class="form-select" id="theme-card-update">
            </select>
        </div>
    </div>
    <!-- Форма выбора удаляемой карточки -->
    <div class="hidden-field select-settings" id="delete-content">
        <div class="input-group mt-2 mb-2">
            <label class="input-group-text label-settings" for="theme-card-delete" id="theme-card-delete-label">Карточка</label>
            <select class="form-select" id="theme-card-delete">
            </select>
            <button class="btn btn-danger" type="button" id="delete-card-button">Удалить</button>
        </div>
    </div>
    <!-- Поля для управления созданием карточки -->
    <div class="hidden-field form-group row mt-3 input-field" id="create-content">
        <label class="col-2 col-form-label label-input-field" for="card-practice-tip-descr">Тип</label>
        <div class="col-10">
            <button type="button" class="custom-sand-button card-type-button" id="create-theory-card-button">
                Теория
            </button>
            <button type="button" class="custom-sand-button card-type-button" id="create-practice-card-button">
                Практика
            </button>
        </div>
    </div>
    <!-- Поля для карточки теории -->
    <div class="hidden-field" id="card-theory-field">
        <!-- Поле ввода названия карточки -->
        <div class="form-group row mt-3 input-field">
            <label class="col-2 col-form-label label-input-field" for="card-theory-title">Название</label>
            <div class="col-10">
                <textarea
                    class="form-control text-input-field"
                    id="card-theory-title"
                    style="height: 80px"
                    required
                ></textarea>
            </div>
        </div>
        <!-- Поле ввода содержимого карточки -->
        <div class="form-group row mt-3 input-field">
            <label class="col-2 col-form-label label-input-field" for="card-theory-descr">Содержимое</label>
            <div class="col-10">
                <textarea
                    class="form-control text-input-field"
                    id="card-theory-descr"
                    style="height: 200px"
                    required
                ></textarea>
            </div>
        </div>
        <hr />
        <!-- Поле изображения карточки -->
        <div class="group-field">
            <div class="title-field">Изображение</div>
            <div id="card-theory-image-button-add-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-theory-image-button-add">
                    <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                    Добавить
                </button>
            </div>
            <div id="card-theory-image-button-delete-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-theory-image-button-delete">
                    <i class="fa-solid fa-xmark fa-lg" style="color: #DC3545"></i>
                    Удалить
                </button>
            </div>
        </div>
        <div class="hidden-field" id="card-theory-image-field">
            <div class="form-group row mt-3 input-field">
                <div class="col-8">
                    <img class="image-preview" id="card-theory-image-preview" alt="Preview">
                </div>
                <div class="col-4">
                    <div class="input-group mb-3 upload-image-field">
                        <input type="file" class="form-control" accept="image/*" id="card-theory-image">
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <!-- Поля для карточки практики -->
    <div class="hidden-field" id="card-practice-field">
        <!-- Поле ввода названия карточки -->
        <div class="form-group row mt-3 input-field">
            <label class="col-2 col-form-label label-input-field" for="card-practice-title">Название</label>
            <div class="col-10">
                <textarea
                    class="form-control text-input-field"
                    id="card-practice-title"
                    style="height: 80px"
                    required
                ></textarea>
            </div>
        </div>
        <!-- Поле ввода содержимого карточки -->
        <div class="form-group row mt-3 input-field">
            <label class="col-2 col-form-label label-input-field" for="card-practice-descr">Содержимое</label>
            <div class="col-10">
                <textarea
                    class="form-control text-input-field"
                    id="card-practice-descr"
                    style="height: 200px"
                    required
                ></textarea>
            </div>
        </div>
        <!-- Поле ответа на задачу -->
        <div class="form-group row mt-3 input-field">
            <label class="col-2 col-form-label label-input-field" for="card-practice-answer">Ответ</label>
            <div class="col-10">
                <input
                    class="form-control answer-input-field"
                    type="text"
                    id="card-practice-answer"
                    value=""
                    required
                />
            </div>
        </div>
        <hr />
        <!-- Поле изображения карточки -->
        <div class="group-field">
            <div class="title-field">Изображение</div>
            <div id="card-practice-image-button-add-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-image-button-add">
                    <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                    Добавить
                </button>
            </div>
            <div id="card-practice-image-button-delete-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-image-button-delete">
                    <i class="fa-solid fa-xmark fa-lg" style="color: #DC3545"></i>
                    Удалить
                </button>
            </div>
        </div>
        <div class="hidden-field" id="card-practice-image-field">
            <div class="form-group row mt-3 input-field">
                <div class="col-8">
                    <img class="image-preview" id="card-practice-image-preview" alt="Preview">
                </div>
                <div class="col-4">
                    <div class="input-group mb-3 upload-image-field">
                        <input type="file" class="form-control" accept="image/*" id="card-practice-image">
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Поле файла карточки -->
        <div class="group-field">
            <div class="title-field">Загружаемый файл</div>
            <div id="card-practice-file-button-add-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-file-button-add">
                    <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                    Добавить
                </button>
            </div>
            <div id="card-practice-file-button-delete-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-file-button-delete">
                    <i class="fa-solid fa-xmark fa-lg" style="color: #DC3545"></i>
                    Удалить
                </button>
            </div>
        </div>
        <div class="hidden-field" id="card-practice-file-field">
            <div class="form-group row mt-3 input-field" id="card-practice-download-row">
                <div class="col-4" id="card-practice-file-download-field">
                    <div id="card-practice-download-file-name"></div>
                    <a id="card-practice-file-download">
                        <button class="download-button" id="card-practice-file-button"><i class="fa-solid fa-file-arrow-down fa-lg"></i></i></button>
                    </a>
                </div>
                <div class="col-4">
                    <input
                        class="form-control filename-input-field"
                        type="text"
                        id="card-practice-file-name"
                        placeholder="Введите название файла"
                        value=""
                    />
                </div>
                <div class="col-4">
                    <div class="input-group upload-file-field">
                        <input type="file" class="form-control" id="card-practice-file">
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <!-- Поле решения задачи -->
        <div class="group-field">
            <div class="title-field">Решение</div>
            <div class="control-button-field" id="card-practice-tip-button-add-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-tip-button-add">
                    <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                    Добавить
                </button>
            </div>
            <div class="control-button-field" id="card-practice-tip-button-delete-field">
                <button type="button" class="custom-sand-button control-buttons" id="card-practice-tip-button-delete">
                    <i class="fa-solid fa-xmark fa-lg" style="color: #DC3545"></i>
                    Удалить
                </button>
            </div>
        </div>
        <div class="hidden-field" id="card-practice-tip-field">
            <div class="form-group row mt-3 input-field">
                <label class="col-2 col-form-label label-input-field" for="card-practice-tip-descr">Описание решения</label>
                <div class="col-10">
                    <textarea
                        class="form-control text-input-field"
                        id="card-practice-tip-descr"
                        style="height: 200px"
                        required
                    ></textarea>
                </div>
            </div>
            <!-- Поле изображения решения -->
            <div class="group-field" style="margin-top: 20px;">
                <div class="title-field">Изображение решения</div>
                <div id="card-practice-tip-image-button-add-field">
                    <button type="button" class="custom-sand-button control-buttons" id="card-practice-tip-image-button-add">
                        <i class="fa-solid fa-plus fa-lg" style="color: #228B22"></i>
                        Добавить
                    </button>
                </div>
                <div id="card-practice-tip-image-button-delete-field">
                    <button type="button" class="custom-sand-button control-buttons" id="card-practice-tip-image-button-delete">
                        <i class="fa-solid fa-xmark fa-lg" style="color: #DC3545"></i>
                        Удалить
                    </button>
                </div>
            </div>
            <div class="hidden-field" id="card-practice-tip-image-field">
                <div class="form-group row mt-3 input-field">
                    <div class="col-8">
                        <img class="image-preview" id="card-practice-tip-image-preview" alt="Preview">
                    </div>
                    <div class="col-4">
                        <div class="input-group mb-3 upload-image-field">
                            <input type="file" class="form-control" accept="image/*" id="card-practice-tip-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </div>
    <!-- Поле отправки данных на сервер -->
    <div class="send-field">
        <!-- Поле выбора позиции карточки -->
        <div class="hidden-field input-group mt-3 mb-3 select-position" id="card-position-field">
            <label class="input-group-text select-position-label" for="card-position" id="card-position-label">Позиция</label>
            <select class="form-select" id="card-position">
            </select>
        </div>
        <!-- Кнопка отправки запроса на сервер -->
        <div class="hidden-field" id="send-card-data-to-server-button-field">
            <button type="button" class="custom-sand-button send-card-data-button" id="send-card-data-to-server-button">Отправить</button>
        </div>
    </div>
    <!-- Поле ответа сервера -->
    <hr/>

    <div class="form-group row mt-2 mb-2 input-field" id="flash-msg-field">
        <label class="col-2 col-form-label label-input-field" for="card-flash-msg"><strong>Feedback</strong></label>
        <div class="col-10" id="card-flash-msg"></div>
    </div>

    <hr />

    <!-- Поле просмотра карточки -->
    <div id="card-content">
        <div id="card-action"></div>
        <div id="card-title"></div>
        <!-- Слайд с теорией -->
        <div class="hidden-field" id="theory-content">
            <div class="row">
                <div class="col-4 text-end">
                    <img src="" id="theory-image">
                </div>
                <div class="col-8 text-start">
                    <div id="theory-descr"></div>
                </div>
            </div>
        </div>
        <!-- Слайд с практикой -->
        <div class="hidden-field" id="practice-content">
            <div class="row">
                <div class="col-4 text-end" id="practice-image-field">
                    <img src="" id="practice-image">
                </div>
                <div class="col-8 text-start" id="practice-descr">
                    <div id="practice">
                        <div id="practice-descr-field"></div>
                        <div class="hidden-field" id="practice-download-file-field">
                            <div id="practice-download-file-name"></div>
                            <a id="practice-download-file">
                                <button class="download-button" id="practice-download-file-button"><i class="fa-solid fa-file-arrow-down fa-lg"></i></i></button>
                            </a>
                        </div>
                        <div id="practice-answer-field">
                            <input
                                class="answer-input"
                                type="text"
                                id="practice-answer"
                                value=""
                                data-tooltip=""
                                placeholder="Введите сюда ваш ответ"
                                autocomplete="off"
                            />
                            <button type="button" class="card-content-button" id="practice-answer-button">
                                Проверить
                            </button>
                            <button type="button" class="card-content-button" id="practice-tip-button">
                                Показать решение
                            </button>
                        </div>
                        <div class="hidden-field" id="practice-tip-field">
                            <div id="practice-tip-descr"></div>
                            <div class="text-center">
                                <img src="" id="practice-tip-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock admin_content %}
{% block admin_scripts %}
    <-- Подключение js страницы-->
    <script src="/static/js/theme_card.js"></script>
{% endblock admin_scripts %}
