{% extends "tutor_base.html" %}
{% block tutor_head %}
    <link rel="stylesheet" href="/static/css/tutor_profile.css" />
{% endblock tutor_head %}
{% block tutor_content %}
<div class="container-fluid" id="tutor-data">
    <div class="row">
        <!-- Изображение пользователя -->
        <div class="col-3 text-end">
            <img width="300" height="300" class="rounded-circle" style="object-fit: cover; border: 3px solid #B4B7FA;" id="tutor-img">
        </div>
        <div class="col-1 text-start" id="tutor-image-btn">
            <button
                class="btn align-top align-middle profile-button"
                type="button"
                title="Изменить аватар"
                style="padding-left: 11px;"
                data-bs-toggle="modal"
                data-bs-target="#modal-tutor-update-img"
                id="btn-update-img"
            ><i class="fa-solid fa-image text-dark"></i></i>
            </button>
        </div>
        <!-- Личная информация преподавателя -->
        <div class="col-4 tutor-info" id="tutor-info">
            <div class="row">
                <div class="col-10 tutor-profile-title">
                    Личная информация
                </div>
                <div class="col-2 text-center">
                    <button
                        class="btn profile-button"
                        type="button"
                        title="Изменить личную информацию"
                        style="padding-left: 10px;"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-tutor-update-primary-info"
                        id="btn-update-primary"
                    >
                        <i class="fa-solid fa-user-pen text-dark"></i>
                    </button>
                </div>
            </div>
            <hr id="hr-under-info"/>
            <div class="row info-element">
                <div class="col-1">
                </div>
                <div class="col-11" id="tutor-name">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-user fa-lg" style="color: #1E90FF"></i>
                </div>
                <div class="col-11" id="tutor-login">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-venus-mars fa-lg" style="color: #800080"></i>
                </div>
                <div class="col-11" id="tutor-gender">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-calendar-days fa-lg" style="color: #1E90FF"></i>
                </div>
                <div class="col-11" id="tutor-birthday">
                </div>
            </div>
        </div>
        <!-- Контактные данные преподавателя -->
        <div class="col-4">
            <div class="row">
                <div class="col-10 tutor-profile-title">
                    Контактные данные
                </div>
                <div class="col-2 text-center">
                    <button
                        class="btn profile-button"
                        type="button"
                        title="Изменить контактные данные"
                        data-bs-toggle="modal"
                        data-bs-target="#modal-tutor-update-contact-info"
                        id="btn-update-contact"
                    >
                        <i class="fa-solid fa-mobile-screen"></i>
                    </button>
                </div>
            </div>
            <hr id="hr-under-contact"/>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-discord fa-lg" style="color: #7289da"></i>
                </div>
                <div class="col-11" id="tutor-discord">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-solid fa-phone fa-lg" style="color: green"></i>
                </div>
                <div class="col-11" id="tutor-phone">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-telegram fa-xl" style="color: #2AABEE"></i>
                </div>
                <div class="col-11" id="tutor-telegram">
                </div>
            </div>
            <div class="row info-element">
                <div class="col-1">
                    <i class="fa-brands fa-whatsapp fa-xl" style="color: #25D366"></i>
                </div>
                <div class="col-11" id="tutor-whatsapp">
                </div>
            </div>
        </div>
    </div>
</div>

{% include "tutorFormUpdatePrimaryInfo.html" %}
{% include "tutorFormUpdateContactInfo.html" %}
{% include "tutorFormUpdateImage.html" %}
{% endblock tutor_content %}
{% block tutor_scripts %}
    <!-- Подключение js страницы-->
    <script src="/static/js/tutor_profile.js"></script>
{% endblock tutor_scripts %}
