{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/tutor_base.css" />
    {% block tutor_head %}{% endblock tutor_head %}
{% endblock %}
{% block content %}
<div class="container-fluid" style="height: 100%">
    <div class="row" style="height: 100%">
        <div class="col-2 tutor-menu">
		    <div class="list_menu">
                <ul style="padding-left: 0px">
                    <li><a href="/tutor-profile">Мой профиль</a></li>
                    <li><a href="/progress">Прогресс учеников</a></li>
                    <li><a href="/lesson-history">История занятий</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10" id="tutor-content">
            {% block tutor_content %}{% endblock tutor_content %}
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {% block tutor_scripts %}{% endblock tutor_scripts %}
{% endblock %}
