<div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    aria-labelledby="modal-user-update-password-by-admin"
    aria-hidden="true"
    id="modal-user-update-password-by-admin"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Header окна изменения пароля пользователя -->
            <div class="modal-header">
                <h5 class="modal-title">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" id="user-update-password-by-admin-form" novalidate>
                    <!-- Логин пользователя -->
                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="user-update-password-by-admin-form-login">Пользователь</label>
                        <div class="col-8">
                            <input class="form-control" type="text" id="user-update-password-by-admin-form-login" disabled />
                        </div>
                    </div>
                    <!-- Поле ввода нового пароля -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="user-update-password-by-admin-form-password">Пароль</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="user-update-password-by-admin-form-password"
                                value=""
                                placeholder="Введите новый пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле повторного ввода нового пароля -->
                    <div class="form-group row mb-1">
                        <label class="col-4 col-form-label" for="user-update-password-by-admin-form-password-re">Re: Пароль</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="user-update-password-by-admin-form-password-re"
                                value=""
                                placeholder="Повторите новый пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ответа сервера -->
                    <hr/>

                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="user-update-password-by-admin-form-flash-msg"><strong>Feedback</strong></label>
                        <div class="col-8" id="user-update-password-by-admin-form-flash-msg"></div>
                    </div>

                    <hr />
                    <!-- Кнопка отправки формы -->
                    <div class="text-center">
                        <button type="button" class="btn btn-dark btn-block" id="user-update-password-by-admin-form-button">
                            Сменить пароль
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>