<div
    class="modal fade bd-example-modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-user-change-password"
    aria-hidden="true"
    id="modal-user-change-password"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Header окна изменения пароля пользователя -->
            <div class="modal-header">
                <h5 class="modal-title">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" id="user-change-password-form" novalidate>
                    <!-- Логин пользователя, меняющего пароль -->
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="user-change-password-form-login">Пользователь</label>
                        <div class="col-9">
                            <input class="form-control" type="text" id="user-change-password-form-login" disabled />
                        </div>
                    </div>
                    <!-- Поле ввода нового пароля -->
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="user-change-password-form-password">Пароль</label>
                        <div class="col-9">
                            <input
                                class="form-control"
                                type="text"
                                id="user-change-password-form-password"
                                value=""
                                placeholder="Введите новый пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле повторного ввода нового пароля -->
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="user-change-password-form-password-re">Re: Пароль</label>
                        <div class="col-9">
                            <input
                                class="form-control"
                                type="text"
                                id="user-change-password-form-password-re"
                                value=""
                                placeholder="Повторите новый пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ответа сервера -->
                    <div class="form-group row">
                        <label class="col-3 col-form-label" for="user-change-password-form-flash-msg">
                            <strong>Feedback</strong>
                        </label>
                        <div class="col-9" id="user-change-password-form-flash-msg"></div>
                    </div>

                    <hr />
                    <!-- Кнопка отправки формы -->
                    <button type="button" class="btn btn-dark btn-block" id="user-change-password-form-button">
                        Изменить пароль
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>