<div
    class="modal fade bd-example-modal-lg custom-modal"
    tabindex="-1"
    aria-labelledby="modal-user-update-password"
    aria-hidden="true"
    id="modal-user-update-password"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content custom-modal-body">
            <!-- Header окна изменения пароля пользователя -->
            <div class="modal-header">
                <h5 class="modal-title">Смена пароля</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>

            <div class="modal-body">
                <form class="needs-validation" id="user-update-password-form" novalidate>
                    <!-- Поле ввода текущего пароля -->
                    <div class="form-group row mb-1">
                        <label class="col-5 col-form-label" for="user-update-password-form-current-password">Текущий пароль</label>
                        <div class="col-7">
                            <input
                                class="form-control"
                                type="text"
                                id="user-update-password-form-current-password"
                                value=""
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ввода нового пароля -->
                    <div class="form-group row mb-1">
                        <label class="col-5 col-form-label" for="user-update-password-form-new-password">Новый пароль</label>
                        <div class="col-7">
                            <input
                                class="form-control"
                                type="text"
                                id="user-update-password-form-new-password"
                                value=""
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле повторного ввода нового пароля -->
                    <div class="form-group row mb-1">
                        <label class="col-5 col-form-label" for="user-update-password-form-new-password-re">Re: Новый пароль</label>
                        <div class="col-7">
                            <input
                                class="form-control"
                                type="text"
                                id="user-update-password-form-new-password-re"
                                value=""
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ответа сервера -->
                    <hr/>

                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="user-update-password-form-flash-msg"><strong>Feedback</strong></label>
                        <div class="col-8" id="user-update-password-form-flash-msg"></div>
                    </div>

                    <hr />
                    <!-- Кнопка отправки формы -->
                    <div class="text-center">
                        <button type="button" class="btn send-form-button" id="user-update-password-form-button">
                            Сменить пароль
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>