<div
    class="modal fade"
    tabindex="-1"
    aria-labelledby="modal-user-add"
    aria-hidden="true"
    id="modal-user-add"
>
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <!-- Header окна добавления нового пользователя -->
            <div class="modal-header">
                <h5 class="modal-title">Регистрация нового пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <!-- Форма добавления нового пользователя -->
            <div class="modal-body">
                <form class="needs-validation" id="user-add-form" novalidate>
                    <!-- Поле ввода логина -->
                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="user-add-form-login">Логин</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="user-add-form-login"
                                value=""
                                placeholder="Придумайте имя пользователя"
                                required
                            />
                        </div>
                    </div>
                    <!-- Кнопка очистки формы -->
                    <div class="form-group text-end mb-3 mt-4">
                        <button
                            class="btn btn-sm btn-secondary"
                            type="button"
                            title="Очистить форму"
                            id="btn-add-user"
                            onclick="clearAddUserForm()"
                        >
                            <i class="fa-solid fa-eraser fa-lg"></i>
                        </button>
                    </div>
                    <!-- Поле выбора роли -->
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="user-add-form-role">Роль</label>
                        <select class="form-select" id="user-add-form-role">
                            <option value="admin">Администратор</option>
                            <option value="student" selected>Ученик</option>
                            <option value="tutor">Преподаватель</option>
                        </select>
                    </div>
                    <!-- Поле ввода пароля -->
                    <div class="form-group row">
                        <label class="col-4 col-form-label mb-1" for="user-add-form-password"> Пароль</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="user-add-form-password"
                                value=""
                                placeholder="Введите пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле повторного ввода пароля -->
                    <div class="form-group row">
                        <label class="col-4 col-form-label mb-1" for="user-add-form-password-re">Re: Пароль</label>
                        <div class="col-8">
                            <input
                                class="form-control"
                                type="text"
                                id="user-add-form-password-re"
                                value=""
                                placeholder="Повторите пароль"
                                required
                            />
                        </div>
                    </div>
                    <!-- Поле ответа сервера -->
                    <hr/>

                    <div class="form-group row mt-2 mb-2">
                        <label class="col-4 col-form-label" for="user-add-form-flash-msg"><strong>Feedback</strong></label>
                        <div class="col-8" id="user-add-form-flash-msg"></div>
                    </div>

                    <hr />
                    <!-- Кнопка отправки формы -->
                    <div class="text-center">
                        <button type="button" class="btn btn-dark btn-block" id="user-add-form-button">
                            Зарегистрировать
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>